.header {
  grid-area: h;
  background-color: rgb(167, 168, 168);
  border-radius: 0 0 0 5px;
  text-align: end;
}

.list {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}
.login {
  display: inline-block;
}

.logout {
  display: inline-block;
}
