* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  color: inherit;
}

.wrapper-app {
  display: grid;
  gap: 8px;
  /* grid-template-rows: 60px 10fr; */
  grid-template-columns: 4fr 10fr;
  grid-template-areas:
    "s  m"
    "s  m"
    "s  m";
}

.wrapper-app__content {
  width: 100%;
  grid-area: m;
  min-height: 100vh;
  border-radius: 15px 0 0 15px;
  background-color: #fff;
}
