.dialogsContainer {
  display: grid;
  grid-template-columns: 3fr 10fr;
}
.colOne {
  height: 100vh;
  background-color: rgb(241, 241, 241);
  border-right: 1px solid #000;
}
.colTwo {
  padding: 15px;
  position: relative;
}
.dialogs {
  display: grid;
  gap: 15px;
}


.messageContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50px;
  width: 100%;
  text-align: center;
}
.messageContainer textarea {
  margin: 0;
  padding: 0;
  bottom: 50px;
  width: 70%;
  height: 25px;
  border: 1px solid rgb(100, 42, 42);
  border-radius: 20px;
}